[Global]
# Set the directory relative to this scipt where data is stored
data_directory : data                   


[PostgreSQL]
# Try and connect to PostgreSQL to load  hostnames [Yes/No]
enabled: Yes
# IP or domain to where the PostgreSQL server lives
server: postgresql.example.com
# POst to connect to PostgreSQl server on. Must be an integer
port: 5432
# Name of the database to connect to
database: synapse
# Username to authenticate with
username: someuser
# Password to authenticate with. %must be escaped with another %
password: somepassword
# Limit how many results to return from destinations table
limit: 1000


[HomeserverFile]
# File name for a list of homeserver hostnames
filename: homeservers.txt


[Output]
# File name for a CSV to store homeserver delegated data
homeservers: delegated_homeservers.csv


[ProcessShodanExport]
# File name where Shodan data export is stored
filename: shodan-export-port-8448.json
# How many workers to run process_shodan_export.py with. Must be an integer
workers: 100


[ProcessHomeservers]
# How many workers to run process_homeservers.py with. Must be an integer
workers: 100
# Print a header to stdout. Diable when saving do a file. [Yes/No]
debug: No