[Global]
# Set the directory relative to this script where data is stored
data_directory: data


[PostgreSQL]
# Try and connect to PostgreSQL to load  hostnames [Yes/No]
enabled: Yes
# IP or domain to where the PostgreSQL server lives
server: dbserver
# Post to connect to PostgreSQl server on. Must be an integer
port: 5432
# Name of the database to connect to
database: dbname
# Username to authenticate with
username: dbuser
# Password to authenticate with. % must be escaped with another %
password: dbpassword
# Limit how many results to return from destinations table. Must be an integer or None
limit: 100


[Files]
# File name for a list of homeserver hostnames
hs_filename: homeservers.txt
# File name where Shodan data export is stored
shodan_filename: shodan-export-port-8448.json
# File name for a SQLite3 db file to store homeserver delegated data
delegated_hs_data: delegated_homeservers.db


[Settings]
# How many workers to run process_shodan_export.py with. Must be an integer
shodan_workers: 100
# How many workers to run process_homeservers.py with. Must be an integer
hs_workers: 100
# Print a header to stdout. Disable when saving do a file. [Yes/No]
debug: No